<!DOCTYPE html>
<html ng-app="pizzaOrderApp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/foundation.css" />
<script src="js/vendor/modernizr.js"></script>
<title>PizzaOrders</title>
<script src="angular.min.js"></script>
<script src="controller.js"></script>
</head>
<body ng-controller="PizzaOrderListCtrl">


	<h1>{{hello}}</h1>
	<input type="text" ng-model="hello"/>
	
	
	<div>
		<table>
			<caption>Pizza orders</caption>
			<tr>
				<th>Pizza name</th>
				<th>Pizza type</th>
				<th>Status</th>
				<th>Estimated delivery time</th>
				<th>Delivered</th>
				<th>Customer</th>
				<th>Type</th>
			</tr>
			<tr ng-repeat="order in orders">
				<th>{{order.pizzaName}}</th>
				<th>{{order.pizzaType}}</th>
				<th>{{order.status}}</th>
				<th>{{order.deliveryTime}}</th>
				<th>{{order.delivered}}</th>
				<th>{{order.customer}}</th>
				<th>{{order.type}}</th>
			</tr>
		</table>
	</div>
	<div>
		<a href="PizzaOrderSite.html">Back</a>
	</div>
	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
	
</body>
</html>