.background {
	background-image: url("https://t1.ftcdn.net/jpg/00/16/48/58/400_F_16485875_l4c9t34SIGr6gwiOtgLC0jFsDErEdpEF.jpg");
}

.requier{
	color: red;
	font: bold;
}

fieldset {
	background-color: #58ACFA;
	margin: 15px;
}

legend {
	font:bold;
	font-size:24px;
	color: #B40404;
}

caption {
	font-size: 50px
}

table{
	margin: auto;
}


tr:HOVER{
	background-color:#FFCC99;
	border-bottom: 1px solid black
}

